@import './tailwind.css';

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #355d4f;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #bbb;
  font-family: 'Merriweather', serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

// Bottom of page
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1; /* same as flex-grow: 1; */
}

// Line up Main Footer
.ft-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Or space-evenly, based on your media queries */
  padding: 1rem 1.875rem;
  border: 2px solid #a3a3a3;
  //border-bottom-right-radius: 0.9225rem
}

.ft-main-item {
  flex: 1;
  min-width: 12.5rem; /* 200px */
  padding: 1.25rem;
  //border: 2px solid red;
}

// Logo container styling
.logo-container {
  display: flex;
  flex-direction: column; /* Arrange logo and icons vertically */
  align-items: center; /* Center align logo and icons */
  padding: 0; /* Remove padding */
}

.logo-image {
    width: 270px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center the image horizontally */
    padding-top: 25px;
    // border: 2px solid red; /* Add a visible border */
    //padding-left: px;
}

.ft-social-list {
  display: flex;
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0; /* Add margin to the top */
  justify-content: center; /* Center align the icons */
}

.ft-social-list li {
  margin-right: 20px; /* Adjust spacing between icons as needed */
}

.ft-social-list li a {
  color: inherit; /* Adjust color as needed */
  text-decoration: none;
  //border: 2px solid red;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Or space-evenly, based on your media queries */
    padding: 1rem 1.875rem;
  }
}

// Line Up Legal Footer (copyright)
.ft-copyright {
  background-color: #2e4f43;
}

.ft-copyright-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ft-copyright-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1; /* same as flex-grow: 1; */
}
