@import './tailwind.css';

.header-container {
    background-color: transparent; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #eee; 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
}

.hd-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hd-logo {
    display: flex;
    align-items: center;
}

.hd-logo .logo {
    width: auto;
    height: 50px; 
}

.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    color: #eee;
    transition: transform 0.5s, color 0.5s;
}

.menu-toggle.open {
    transform: rotate(90deg);
    color: #ff6347;
}

.overlay-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%; /* 覆盖部分页面 */
    height: 100%;
    background: #355D4F; /* 新的背景颜色 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 确保在其他内容之上但在 header 之下 */
    opacity: 0;
    transition: right 0.5s ease, opacity 0.5s ease;
}

.overlay-menu.open {
    right: 0;
    opacity: 1;
}

.overlay-content {
    text-align: left;
    color: #333;
    padding: 20px;
}

.overlay-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.overlay-content ul li {
    margin: 20px 0;
    font-size: 2rem;
}

.overlay-content ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s, text-decoration 0.3s;
}

.overlay-content ul li a:hover {
    color: #eee;
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
    color: #eee;
}

@media (max-width: 768px) {
    .overlay-menu {
        width: 70%; /* 在移动设备上覆盖更多页面 */
    }
}
