@import './tailwind.css';

.header-container {
    background-color: #0369a1; // #5b21b6; /* Dark purple */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Changed from column to row */
    color: #eee; /* Adjust color as needed */
    height: auto; /* Adjust height as needed */
}

.hd-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Adjust padding to reduce height */
}

.hd-logo {
    display: flex;
    align-items: center;
}

.hd-logo .logo {
    width: 250px; /* Adjust the size of the logo */
    height: auto; /* Adjust the size of the logo while maintaining aspect ratio */
}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    margin: 0 15px; /* Adjust spacing between links as needed */
}

.nav-links ul li a {
    color: #eee; /* Adjust color as needed */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    text-decoration: underline;
    color: #1e90ff; /* Color on hover */
}
